/* MENU STYLE */

.navbar {
	background-color: rgba(204, 204, 204, 0);
}

.menuText {
	color: #fff;
	font-weight: 600;
}

.menuText:hover {
	text-decoration: none !important;
	color: #1ac6ff !important;
	background-color: rgba(51, 51, 51, 0) !important;
	border-bottom: 1px solid #1ac6ff !important;
}

.paddingMenu {
	padding-top: 15px;
}

.login {
	float: right;
	margin-top: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
    border: 1px #1ac6ff solid !important;
    border-radius: 4px;
}

.login:hover {
	background-color: #1ac6ff;
}

.login:hover a {
	color: #fff;
	text-decoration: none;
}

.btn-login {
	margin-top: 0px;
}

.loginTextButton {
	margin: 1px 25px 1px 25px !important;
	font-weight: 500;
	color: #1ac6ff;
}

.loginTextButton a {
	color: #1ac6ff;
}


.menuHover:hover ul li {
	background-color: rgba(214, 284, 244) !important;
}

.logoMenu {
	float: left;
	margin-right: 20px;
}







/* STYLE */

.logoAndSearch {
	margin-top: 0px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    z-index: -1;
}

.defaultBackground {
    background-image: url("../img/background-register.jpg");
    background-color: rgba(64, 118, 182, 1);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}


@media (width: 1600px) {
	.logoAndSearch {
		min-height: 476px;
		padding-top: 120px;
	}
	.searchList {
		min-height: 476px;
		padding-top: 20px;
	}
}

@media (width: 1366px) {
	.logoAndSearch {
		min-height: 350px;
		padding-top: 70px;
	}

	.searchList {
		min-height: 350px;
		padding-top: 70px;
	}
}

@media (width: 1280px) {
	.logoAndSearch {
		min-height: 640px;
		padding-top: 200px;
	}

	.searchList {
		min-height: 350px;
		padding-top: 70px;
	}
}

.logo h1 {
	font-size: 66px;
	font-weight: 500;
	text-align: center;
	color: #fff;
}

.logoLightHome {
	text-align: center;
    margin: 0 auto;
    display: block;
}

.search {
	width: 90%;
	margin: 0 auto;
}

.formSearch {
	
}

.inputSearch {
	width: 70%;
	float: left;
	border: 0px;
	padding-left: 15px;
	height: 35px;
	border-radius: 4px;
}

.btnSearch {
	width: 28%;
	height: 34px;
	font-weight: 600;
	float: left;
	margin-top: 1px;
	margin-left: 2%;
	border-radius: 4px;
	border: 0px;
	background-color: #fff;
}

.filters {
	width: 100%;
	float: left;
	background-color: rgba(255, 255, 255, 0.55);
	border-radius: 15px;
}

.formFilters label {
	padding-left: 5%;
}

.formFilters select {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 25px;
	border-radius: 4px;
	margin-top: 20px;
}

.btnFilter {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 30px;
	border-radius: 4px;
	margin-top: 20px;
	font-weight: 600;
}

.btnFilter:hover {
	background-color: #0090c7;
	color: #fff;
}

.playCard {
	padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #5f5f5f;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 15px;
}

.ownerInformation {
	width: 100%;
	float: left;
	background-color: rgba(255, 255, 255, 0.55);
	border-radius: 15px;
}

.ownerInformation h4 {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
}

.ownerInformation hr {
	border: 1px #494949 solid !important;
	margin-left: 20px;
	margin-right: 20px;
}

.ownerPicture {
	width: 100%;
	float: left;
	padding-top: 15px;
	margin-bottom: 15px;
}

.ownerPicture img {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.OwnerSocialMedia {
	margin: 0 auto;
	width: 192px;
	height: 30px;
	padding-left: 0px;
}

.OwnerSocialMedia li {
	float: left;
    list-style: none;
    width: 38px;
    height: 38px;
    margin: 5px;
    border-radius: 19px;
    padding-top: 9px;
    text-align: center;
    color: #494949;
    background-color: #494949;
}

.OwnerSocialMedia i {
	font-size: 19px;
	color: white;
}

.facebookIcon {
	background-color: #3b5998 !important;
}

.twitterIcon {
	background-color: #00aced !important;
}

.googlePlusIcon {
	background-color: #dd4b39 !important;
}

.instagramIcon {
	background-color: #375989 !important;
}

.paddingInformationContact {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.contactIcons {
	font-size: 20px !important;
}

.space {
	width: 100%;
	height: 40px;
}

.age {
	margin-top: 20px;
	min-height: 20px;
}

.age i {
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

.age h3 {
	float: left;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.brood {
	margin-top: 10px;
	min-height: 20px;
}

.brood i {
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

.brood h3 {
	float: left;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.neighborhood {
	margin-top: 10px;
	min-height: 20px;
}

.neighborhood i {
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
}

.neighborhood h3 {
	float: left;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.featuredData {
	color: #5f5f5f;
}

.featuredData h2 {
	font-size: 20px;
	font-weight: 600;
}

.featuredData h3 {
	font-size: 14px;
	font-weight: 500;
	float: left;
}

.featuredPicture {
	width: 100%;
}

.featuredPicture img {
	width: 100%;
}

.featuredData hr {
	width: 50%;
	color: #000;
	float: left;
	margin-bottom: 0px;
	margin-top: 0px;
}

.sliderPadding {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	width: 100%;
}

.sliderPosition {
	width: 70%;
	margin: 0 auto;
}

.playCardActions {
	margin-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

.playCardActionsButtons {
	float: right;
    margin-top: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px #5f5f5f solid !important;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 600 !important;
    color: #5f5f5f;
}

.btnCard {
	width: 100%;
}

.arrowDown {
	text-align: center;
	width: 100px;
	margin: 0 auto;
}

.arrowDown i {
	font-size: 4.5em;
	color: #fff;
	padding-top: 150px;
}

.arrowDown a:hover i {
	color: #252734 !important;
}

.paddingCard {
	padding-left: 50px;
}

.dogsTalk {
	width: 80%;
	margin-top: -50px;
	margin-left: 8%;
}





/*  REGISTER AREA  */

.signUp {
	margin-top: -73px;
	background-size: cover;
    background-image: url(../img/background-register.JPG);
    background-repeat: no-repeat;
    background-position: top center;
    height: 772px;
    z-index: -1;
}

.formArea {
	margin-top: 40px;
	margin-bottom: 40px;
}

.inputLine {
	margin-bottom: 20px;
}

.inputRegister {
    float: left;
    width: 100%;
    border: 1px;
    background-color: rgba(255, 255, 255, 0.29);
    height: 36px !important;
    color: #000;
    padding-left: 15px;
    height: 30px;
    border-radius: 5px;
}

::-webkit-input-placeholder {
   color: #212121;
   font: 12px verdana, arial, sans-serif;
}

:-moz-placeholder {
   color: #212121;
   font: 12px verdana, arial, sans-serif;
}

::-moz-placeholder {
   color: #212121;  
   font: 12px verdana, arial, sans-serif;
}

:-ms-input-placeholder {  
   color: #212121;  
   font: 12px verdana, arial, sans-serif;
}

.btnRegister {
    width: 100%;
    height: 40px;
    background-color: rgba(130, 101, 159, 0);
    border-radius: 14px;
    /* border: 1px; */
    border-color: #fff;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.btnRegister:hover {
	background-color: #fff;
	color: #535353;
	border: 0px;
}

.breadCrumbHeader {
	width: 100%;
	margin-top: 50px;
}

.breadCrumbHeader ul {
	width: 100%;
	height: 20px;
	padding-left: 1px !important;
}

.breadCrumbList {
	list-style: none;
	float: left;
	margin-right: 15px;
	color: #fff;
}

.titleHeaderPage {
	margin-top: 0px;
	margin-left: 0px;
	font-weight: 600;
	color: #fff;

}

.spanLocker {
	font-weight: 600;
	margin-left: 10px;
}

.pcDog {
	width: 95%;
	float: right;
}







/*    Login    */

.titleHeaderPageLogin {
	color: #fff;
	text-align: center;
}

.formLogin {
	margin-top: 30px;
}

.loginArea {
	background-color: #535353;
	padding-left: 20px;
	padding-right: 20px;
}

.pageLogin #pageLogin {
	
}






/*  FOOTER  */

footer {
	background-color: #252734 !important;
	min-height: 200px;
	padding-top: 10px;
	color: #fff;
}

footer h3 {
	margin-bottom: 15px;
}

.footerAboutUs {
	padding-bottom: 15px
}

.copyright {
	text-align: center;
	padding-top: 15px;
	color: #fff;
	background-color: #333;
	height: 50px;
}

.k {
	background-color: #ffc000; padding-top: 5px; padding-bottom: 5px; width: 80%; margin: 0 auto; font-weight: 600;	text-align: center; border-radius: 5px;
	width: 100%; text-decoration: line-through; color: red; text-align: center;
	text-align: center; color: green; font-weight: 600; font-size: 16px;
}

/*  END FOOTER  */